
tr {
	text-align: center;
}

th a {
	display: block;
    width: 60px;
}

table {
	background-color: white;
}

td img {
	width: 304px;
	height: 228px;
}

p {
	text-align: right;
}

tr th {
	font-family: sans-serif;
}

h1 {	
	background-color: lightblue;
}

